## Analysis of Customer Review Sentiment

### Introduction

This notebook uses Python programming language to analyse the sentiment of customer reviews in a E-Commerce store for Women's Clothing using machine learning. The information used is a real commercial and anoymised data. The dataset includes 23486 rows and 10 feature variables, with each row being one customer review.

In [7]:
import numpy as np
import pandas as pd

In [28]:
# Open the dataset and create a Dataframe
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df.shape

(23486, 11)

In [29]:
df = df.drop(['Unnamed: 0'], axis=1)
df = df.rename(columns = {'Clothing ID': 'Clothing_ID', 'Review Text': 'Review', 'Recommended IND': 'Recommended', 'Positive Feedback Count': 'Positive_feedback_count', 'Division Name': 'Division', 'Department Name': 'Department', 'Class Name': 'Class'})

In [30]:
df.head()

,Clothing_ID,Age,Title,Review,Rating,Recommended,Positive_feedback_count,Division,Department,Class
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [33]:
print(pd.unique(df.Clothing_ID).shape)
print(pd.unique(df.Division))
print(pd.unique(df.Department))
print(pd.unique(df.Class))

(1206,)
['Initmates' 'General' 'General Petite' nan]
['Intimate' 'Dresses' 'Bottoms' 'Tops' 'Jackets' 'Trend' nan]
['Intimates' 'Dresses' 'Pants' 'Blouses' 'Knits' 'Outerwear' 'Lounge'
 'Sweaters' 'Skirts' 'Fine gauge' 'Sleep' 'Jackets' 'Swim' 'Trend' 'Jeans'
 'Legwear' 'Shorts' 'Layering' 'Casual bottoms' nan 'Chemises']